.report {

    &-heading {
        background-color: #1b7db1;
        // border-radius: 5px;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
            flex-wrap: wrap;
            gap: 10px;

            @media (max-width: 575px) {
                flex-direction: column;
                align-items: baseline;
            }

            .left {

                h3 {
                    font-size: 26px;
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 3px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 35px;
                    }
                }

                p {
                    font-size: 18px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 1rem;

                ul {
                    li {
                        font-size: 16px;
                        color: #fff;
                    }
                }

                .main-btn {
                    padding: 10px;
                }
            }
        }
    }

    &-body {
        padding-top: 25px;
        padding-bottom: 25px;

        .sub-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            @media (max-width: 575px) {
                flex-direction: column;
                align-items: flex-start;
            }

            h4 {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        .member-list {
            margin-top: 25px;

            li {
                border: 1px solid #a5a5a5;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}

#pdf-content {
    background: white;
    // padding: 20px;
    font-family: Arial, sans-serif;
}